body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            background-color: #fff;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            margin: 20px auto;
        }
        h2 {
            color: #0056b3;
            margin-bottom: 15px;
        }
        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }
        input[type="number"] {
            width: calc(100% - 22px);
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
            font-size: 16px;
        }
        button {
            background-color: #007bff;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-bottom: 10px; /* Espacio debajo de los botones */
        }
        button:hover {
            background-color: #0056b3;
        }
        .results p {
            margin-bottom: 8px;
            line-height: 1.6;
        }
        .results span {
            font-weight: bold;
            color: #0056b3;
        }
        hr {
            border: 0;
            height: 1px;
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
            margin: 30px 0;
        }
        #parrafoCambiar {
            margin-bottom: 15px;
        }
        #listaEstudiantes div {
            margin-bottom: 5px;
            padding: 5px 0;
            border-bottom: 1px dashed #eee;
        }
        #listaEstudiantes div:last-child {
            border-bottom: none;
        }
        #promedioNotas p {
            margin-top: 15px;
            font-size: 1.1em;
            color: #0056b3;
        }

        .footer-text {
            text-align: center;
            margin-top: 40px;
            padding-top: 20px;
            border-top: 1px solid #eee;
            color: #777;
            font-size: 0.9em;
        }